{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
      ["babel-plugin-inline-import", {
        "extensions": [
          ".glsl"
        ]
      }],
      ["@babel/transform-runtime"]
    ]
}

// ["babel-plugin-inline-import", {
//   "extensions": [
//     ".glsl"
//   ]
// }]
// "plugins": [
//   ["transform-runtime", {
//     "polyfill": false,
//     "regenerator": true
//   }]
// ]