body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    widows: 100%;
}

body {
    /* overflow: hidden; */
    background: #000;
}

canvas {
    position: relative;
    border: none;
}

#bronze {
    position: absolute;
    height: 100%;
    width: 100%;
}